# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Vim swap files
*.swp

# Python caches
*.pyc
.vs/15418-project/v16/Browse.VC.db
.vs/15418-project/v16/Browse.VC.opendb
.vs/15418-project/v16/ipch/AutoPCH/cc2f5f8ef3cc2d78/LOCKFREE_CAS_RB.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/15418-project/v16/.suo
.vs/15418-project/v16/ipch/AutoPCH/7c131d201f00cbd3/TREE.ipch
.vs/15418-project/v16/ipch/AutoPCH/c2d73cea45a96902/UTILS.ipch
.vs/15418-project/v16/ipch/AutoPCH/e11339f4f739beaa/LOCKFREE_UTILS.ipch
.vs/VSWorkspaceState.json
